<h1>Enlistando preguntas</h1>
<p>Total: <%= @question.size %></p>
<p><%= link_to 'Nueva pregunta', new_question_path %></p>
<table border="1">
  <tr>
    <th>Text</th>
    <th>Choices</th>
    <th colspan="3">Opciones</th>
  </tr>
  <% @question.each do |question| %>
  <tr>
    <td><%=question.text %></td>
    <td>
      <ul>
        <% question.choices.each do |choice| %>
        <li>
          <%=choice.text%>
          <% if choices.correct %>(Correcto)<%end%>
        </li>
        <%end%>
      </ul>
    </td>
    <td><%= link_to 'Mostrar',question %></td>
    <td><%= link_to 'Editar', edit_question_path(question) %></td>
    <td><%= link_to 'Eiminar', question, :confirm => '¿Estas seguro?',:method => :delete %></td>
  </tr>
  <%end%>
</table>
<% content_for(:title) do %>
  Todas las preguntas
<%end%>
<p id="notice"><%= notice %></p>
<p>
  <strong>Text:</strong>
  <%= @question.text %>
</p>
<h4>Choices</h4>
<ul>
  <% @question.choices.fing_each do |choice| %>
  <li>
    <%= choice.text %>
    <% if choice.correct %>(Correcto) <%end%>
    <%= form_tag({:controller => 'choices', :action => 'destroy'}) do %>
    <%= hidden_field_tag :question, @question.id %>
        <%= hidden_field_tag :choice, @choice.id %>
        <%= submit_tag 'Delete' %>
    <%end%>
  </li>
  <%end%>
</ul>
<h5>Nuevo Choice</h5>

  <%= form_tag({:controller => 'choices', :action => 'create'}) do %>
  <%= hidden_field_tag :question_path, @question.id %>
  <%= label_tag :text, 'Text' %><br>
  <%= text_field_tag :text %><br>
  <%= check_box_tag :correct %><br>
  <br>
  <%= submit_tag 'Crear' %>
<%end%>
<td><%= link_to 'Editar', edit_question_path(@question) %></td>
<td><%= link_to 'Atras', question_path %>
<% content_for(:title) do %>
  Detalles pregunta
<%end%>