<h1>Pregunta <%= @current + 1 %> of <%= @total %></h1>
<p id="question">
  <%= @question[:text] %>
</p>
<div id="feedback-choices">
  <% @choices.each do |choice| %>

      <%if(choice[:correct])%>
          <p class="correct feedback-choice">
      <%elsif choice == @choice%>
          <p class="incorrect feedback-choice">
      <% else %>
          <p class="feedback-choice">
      <% end %>
      <%= choice[:text] %>
      </p>
  <% end %>
</div>
<p class="feedback">
  <% if @correct%>
      Respuesta Correcta!
  <% else %>
      Respuesta Incorrecta!
  <% end %>
</p>

<%= form_tag({:controller => 'quiz', :action => 'questions'}) do %>
    <div class="center">
      <%= submit_tag('Continuar', :class => 'submit') %>
    </div>
<% end %>
<% content_for(:title) do%>
    Question <%= @current + 1 %> of <%= @total %>
<%end%>
